{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('penalties_add', game_id=form.game_id.data) }}">
    {{ form.hidden_tag() }}
<table>
    <tr>
            <td>
                {{ form.player_number.label }}
            </td>
            <td>
                {{ form.player_number }}
            </td>
            <td>                
                <ul>
                    {% for error in form.player_number.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td> 
            <td>
                {{ form.minutes.label }}
            </td>
            <td>
                {{ form.minutes }}
            </td>
            <td>                
                <ul>
                    {% for error in form.minutes.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td colspan="3">
                <input type="submit" value="Add penalty"/>
            </td> 
    </tr>    
    <tr>
        <td>
            <a class="btn btn-primary" href="{{ url_for('games_index') }}">Finish</a>
        </td>
    </tr>

</table>
</form>

{% endblock %}