{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('goals_add', game_id=form.game_id.data) }}">
    {{ form.hidden_tag() }}
<table>
    {% for i in range(goalsToAdd) %}
    <tr>
        <td>
            {{ i + 1 }}. goal:
        </td>
        <td>
                {{ form.scorer_number.label }}
            </td>
            <td>
                {{ form.scorer_number }}
            </td>
            <td>                
                <ul>
                    {% for error in form.scorer_number.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td> 
            <td>
                    {{ form.assist_number.label }}
                </td>
                <td>
                    {{ form.assist_number }}
                </td>
                <td>                
                    <ul>
                        {% for error in form.assist_number.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
        </td> 
        </tr>
        {% endfor %}
        <tr>    
        <td colspan="3">
                <input type="submit" value="Add goals"/>
            </td>
        </tr>
    </table>
</form>
{% endblock %}