{% extends "layout.html" %}
{% block body %}
<form method="POST" action="{{ url_for('players_edit', id=form.id.data) }}">
    {{ form.hidden_tag() }}
    <table>
        <tr>
            <tr>
                <th>
                    Fill in player's new information.
                </th>
            </tr>            
                <td>
                    {{ form.number.label }}
                </td>            
                <td>
                    {{ form.number }}
                </td>  
            <tr>    
                <td>                
                    <ul>
                        {% for error in form.number.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
                <td>
                    {{ form.name.label }}
                </td>
                <td>
                    {{ form.name }}
                </td>                                                
            <tr>
                <td>               
                    <ul>
                        {% for error in form.name.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>                                                                                                                                                    
        </tr>
        <tr>
            <td colspan="3">
                <input type="submit" value="Edit player"/>
            </td>
        </tr>
    </table>
</form>
{% endblock %}