{% extends "layout.html" %}

{% block body %}
<table>
    <tr>
        <th># </th>
        <th>Player</th>
    </tr>
    {% for player in players %}
    <tr>
        <td>{{ player.number }}</td>
        <td>{{ player.name }}</td>        
    <td>
        <a class="btn btn-primary" href="{{ url_for('players_edit', id=player.id) }}">Edit player</a>
        <a class="btn btn-danger" href="{{ url_for('players_delete', id=player.id) }}">Delete player</a>
    </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}