{% extends "layout.html" %}

{% block body %}
<table>
    <tr>
        <th># </th>
        <th>Player's name</th>
        <th>Games played</th>
        <th>Goals</th>
        <th>Assists</th>
        <th>Points</th>
        <th>Penalty minutes</th>
    </tr>
</table>
<table>
    <tr>
        <th># </th>
        <th>Player</th>
        <th>Goals</th>
    </tr>
    {% for scorer in scorers %}
    <tr>
        <td>{{ scorer.number }}</td>
        <td>{{ scorer.name }}</td>        
        <td>{{ scorer.goals }}</td>
    </tr>
    {% endfor %}
</table>
<table>
    <tr>
        <th># </th>
        <th>Player</th>
        <th>Assists</th>        
    </tr>
    {% for assist in assists %}
    <tr>
        <td>{{ assist.number }}</td>
        <td>{{ assist.name }}</td>
        <td>{{ assist.assists }}</td>
    </tr>
    {% endfor %}
</table>
<table>
        <tr>
            <th># </th>
            <th>Player</th>
            <th>Games</th>        
        </tr>
        {% for game in games %}
        <tr>
            <td>{{ game.number }}</td>
            <td>{{ game.name }}</td>
            <td>{{ game.games }}</td>
        </tr>
        {% endfor %}
    </table>
    <table>
        <tr>
            <th># </th>
            <th>Player</th>
            <th>Penalty minutes</th>
        </tr>
        {% for penalty in penalties %}
        <tr>
            <td>{{ penalty.number }}</td>
            <td>{{ penalty.name }}</td>        
            <td>{{ penalty.penalties }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}