{% extends "layout.html" %}

{% block body %}
<table>
    <tr>
        <th># </th>
        <th>Player</th>
        <th>Goals</th>
    </tr>
    {% for scorer in scorers %}
    <tr>
        <td>{{ scorer.number }}</td>
        <td>{{ scorer.name }}</td>        
        <td>{{ scorer.goals }}</td>
    </tr>
    {% endfor %}
</table>
<table>
    <tr>
        <th># </th>
        <th>Player</th>
        <th>Assists</th>        
    </tr>
    {% for assist in assists %}
    <tr>
        <td>{{ assist.number }}</td>
        <td>{{ assist.name }}</td>
        <td>{{ assist.assists }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}