{% extends "layout.html" %}
{% block body %}
<form method="POST" action="{{ url_for('games_edit', id=form.id.data) }}">
    {{ form.hidden_tag() }}
        <table>
            <tr>
                <tr>
                    <th>
                        Fill in game's new information.
                    </th>
                </tr>            
                    <td>
                        {{ form.date.label }}
                    </td>            
                    <td>
                        {{ form.date }}
                    </td>  
                <tr>
                    <td>                
                        <ul>
                            {% for error in form.date.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>    
                    <td>
                        {{ form.opponent.label }}
                    </td>
                    <td>
                        {{ form.opponent }}
                    </td>
                <tr>    
                    <td>                                                                                       
                        <ul>
                            {% for error in form.opponent.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </td>    
                </tr>    
                    <td>
                        {{ form.our_goals.label }}
                    </td>
                    <td>
                        {{ form.our_goals }}
                    </td>
                <tr>    
                    <td>                                                                                                         
                        <ul>
                            {% for error in form.our_goals.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </td>                                                                                                
                </tr>    
                    <td>
                        {{ form.opponent_goals.label }}
                    </td>
                    <td>
                        {{ form.opponent_goals }}
                    </td>
                <tr>    
                    <td>                                                                                                         
                        <ul>
                            {% for error in form.opponent_goals.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>                                                                                                                                              
            </tr>
            <tr>
                <td colspan="3">
                    <input type="submit" value="Edit game"/>
                </td>
            </tr>
        </table>
    </form>
    {% endblock %}